.header {
  display: flex;
  align-items: center;

  padding: 1rem 2rem;

  background-color: black;
  color: white;

  svg {
    min-width: 50px;
    min-height: 50px;

    margin-right: 2rem;
  }

  div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    h1,
    h2 {
      margin: 0;
    }

    h1 {
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-family: "Fugaz One";
      font-size: 24pt;
      span {
        color: rgb(82, 212, 82);
      }
    }

    h2 {
      font-size: 14pt;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}
