.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1em;
  border-top: 1px solid #dcdcdc;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(10px);

  p {
    text-align: center;
  }
}
