.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;

  &:hover,
  &:focus,
  &:active {
    color: rgb(66, 168, 66);
    border-color: rgb(66, 168, 66);
  }

  h2 {
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
    max-width: 60%;
    align-items: center;
    justify-content: space-between;
    svg {
      min-width: 20px;
      min-height: 20px;
      margin-right: 0.8rem;
    }
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.bigCard {
  grid-area: auto / span 2;
  max-width: 100%;
}

@media (min-width: 1000px) {
  .grid {
    min-width: 70%;
  }

  .card {
    max-width: unset;
  }
}

@media (max-width: 600px) {
  .arrow {
    display: none;
  }

  .card {
    align-items: center;
    justify-content: center;
  }

  .card h2 {
    max-width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 475px) {
  .card {
    padding: 1rem;
  }

  .card h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .card h2 {
    font-size: 1rem;
  }
}
